p {
    text-align: right;
    font-size: 30px;
}

h1 {
    text-align: right;
    font-size: 48px;
}

body {
  width: 100%;
  height: 100%;
  color: white;
  background-image: url(/img/code0101.jpg);
  background-position: top center;
}

img {
    width: 100%;
    height: auto;
}

img-circle {
    border-radius: 50%;
    
}

.homepage {
    align-self: right;
}

.row {
    margin-top: 15%;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}