p {
    font-size: 2vw;
    margin-left: 5%;;
    margin-right: 25%;
}

h1 {
    font-size: 6vw;
    margin-right: 25%;
}

img {
    width: 20%;
    height: auto;
}

a {
    text-decoration: none;
    color: blue;
}

body {
    margin-left: 15%;
    margin-right: 15%;
}

html {
    background-image: url(img/grey_background.jpg);
    background-size: cover;
}

.banner {
    background-image: url(img/knowledge.jpg);
    background-size: 70vw;
    height: 28vw;
}

.banner-text {
    font-size: 4vw;
    min-font-size: 2vw;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    font-style: italic;
    z-index: 1;
}
div.menu5
{
    /*width:500px;margin:0 auto;*//*Uncomment this line to make the menu center-aligned.*/
    text-align:center;
    background:#332E28;
    border:1px solid black;
    font-size:0;
    padding:1px;
}

div.menu5 a
{
    display: inline-block;
    padding: 5px 30px;
    background:#3A332C;
    border:1px solid #5E544A;
    color:#C4B09C;
    text-decoration:none;
    font: bold 12px Arial;
    line-height: 27px;
    margin-right:1px;
}

div.menu5 a:hover, div.menu5 a.current
{
    background:#484037;
    color:#E6D4C3;
}
.centerhoe {
    text-align: center;
}

.compare {
    height:auto;
    width:100%;
}